.container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh; /* Preenche toda a altura da tela */
     background-color: #f9f9f9; /* Cor de fundo clara */
     font-family: Arial, sans-serif;
   }
   
   .h1 {
     margin-bottom: 20px;
     color: #333; /* Cor do texto do título */
   }
   
   .form {
     display: flex;
     flex-direction: column;
     gap: 10px; /* Espaço entre os elementos do formulário */
   }
   
   .input {
     padding: 10px;
     border: 1px solid #ccc; /* Borda do campo de entrada */
     border-radius: 5px; /* Bordas arredondadas */
     width: 300px; /* Largura do campo de entrada */
     font-size: 16px; /* Tamanho da fonte */
   }
   
   .button {
     padding: 10px;
     border: none; /* Remove a borda padrão do botão */
     border-radius: 5px; /* Bordas arredondadas */
     background-color: #007bff; /* Cor de fundo do botão */
     color: white; /* Cor do texto do botão */
     font-size: 16px; /* Tamanho da fonte */
     cursor: pointer; /* Muda o cursor ao passar o mouse */
     transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
   }
   
   .button:hover {
     background-color: #0056b3; /* Cor do botão ao passar o mouse */
   }
   